h1 {
    color: white;
    text-align: center;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2, h3 {
    color: blue;
    font-family: sans-serif;
}

a {
    color: purple;
    text-decoration: solid;
  }
  
a:visited {
    color: rebeccapurple;
  }

a:hover, a:active {
    text-decoration: underline;
  }

body {
    background-color: beige;
    background-repeat: no-repeat;
    background-image: url("images/pexels-pixabay-314726.jpg");
    background-size: cover;
}

ul {
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#rectangle{
    width: fit-content;
    height: fit-content;
    background: lightcyan;
}